{% extends "base.html" %}

{% block head_content %}
<title>@{{ user.username }} | Portal</title>
{% endblock %}

{% block container %}
<!--<div class="container col-12" style="margin-top: 8em;">
  <h4>Lista de usuarios activos e inactivos</h4>
  <ul class="list-group">
    {% for profile in pending_users %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      @{{ profile.user }}
      <span class="kafe-btn kafe-btn-mint-small badge-danger badge-pill" onclick="authorizeUser({{ profile.pk }})">No autorizado</span>
    </li>
    {% endfor %}
    {% for profile in authorized_users %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      @{{ profile.user }}
      <span class="kafe-btn badge badge-success badge-pill" onclick="deauthorizeUser({{ profile.pk }})">Autorizado</span>
    </li>
    {% endfor %}
  </ul>
</div>-->


<section class="followers">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h4>Lista de usuarios activos e inactivos</h4>
        <div class="followers-box full-width">
          <div class="followers-list">
            {% for profile in pending_users %}
            <div class="followers-body">
              <img class="img-responsive img-circle" src="{{ profile.picture.url }}" alt="">
              <div class="name-box">
                <a href="/users/{{ profile.user }}/"><h4>{{ profile.user.first_name }} {{ profile.user.last_name }} <span>@{{ profile.user }}</span></h4></a>
                <span>{{ profile.user.email }}</span>
              </div><!--/ name-box -->
              <span class="kafe-btn kafe-btn-mint-small badge-danger badge-pill" onclick="authorizeUser({{ profile.pk }})">No Autorizado</span>
            </div><!--/ followers-body -->
            {% endfor %}
            {% for profile in authorized_users %}
            <div class="followers-body">
              <img class="img-responsive img-circle" src="/media/{{ profile.picture }}" alt="">
              <div class="name-box">
                <a href="/users/{{ profile.user }}/"><h4>{{ profile.user.first_name }} {{ profile.user.last_name }} <span>@{{ profile.user }}</span></h4></a>
                <span>{{ profile.user.email }}</span>
              </div><!--/ name-box -->
              <span class="kafe-btn badge badge-success badge-pill" onclick="deauthorizeUser({{ profile.pk }})">Autorizado</span>
            </div><!--/ followers-body -->
            {% endfor %}
          </div><!--suggestions-list end-->
        </div>
      </div>
    </div><!--/ row-->
  </div><!--/ container -->
</section><!--/ profile -->




<div class="modal fade" id="modalAuthorizeUser" tabindex="-1" role="dialog" aria-labelledby="modalAuthorizeUserLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAuthorizeUserLabel">Autorizar acceso</h5>
      </div>
      <div class="modal-body">
        ¿Deseas autorizar el acceso a este usuario?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" onclick="$('#submit-auth-btn').trigger('click')" class="btn btn-success">Autorizar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalDeauthorizeUser" tabindex="-1" role="dialog" aria-labelledby="modalDeauthorizeUserLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalDeauthorizeUserLabel">Remover acceso</h5>
      </div>
      <div class="modal-body">
        ¿Deseas remover el acceso de este usuario?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" onclick="$('#submit-noauth-btn').trigger('click')" class="btn btn-danger">Remover</button>
      </div>
    </div>
  </div>
</div>

<form method="post" hidden>{% csrf_token %}
  <input type="text" id="id_profile-auth" name="id_profile">
  <input type="submit" id="submit-auth-btn" name="authorize_user">
</form>
<form method="post" hidden>{% csrf_token %}
  <input type="text" id="id_profile-noauth" name="id_profile">
  <input type="submit" id="submit-noauth-btn" name="deauthorize_user">
</form>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  function authorizeUser(id_profile) {
    $("#id_profile-auth").val(id_profile);
    $("#modalAuthorizeUser").modal('show');
  }
  function deauthorizeUser(id_profile) {
    $("#id_profile-noauth").val(id_profile);
    $("#modalDeauthorizeUser").modal('show');
  }
</script>
{% endblock %}
