<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head_content %}{% endblock %}

    {% load static %}
    <!-- ==============================================
    Favicons
    =============================================== --> 
    <link rel="icon" href="{% static 'img/logo.jpg' %}">
    <link rel="apple-touch-icon" href="{% static 'img/favicons/apple-touch-icon.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicons/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicons/apple-touch-icon-114x114.png' %}">
    
      <!-- ==============================================
    CSS
    =============================================== -->
        <link type="text/css" href="{% static 'css/demos/photo.css' %}" rel="stylesheet">
        
    <!-- ==============================================
    Feauture Detection
    =============================================== -->
    <script src="{% static 'js/modernizr-custom.js' %}"></script>

</head>
<body>

    
                {% block container %}{% endblock%}

    <!-- ==============================================
   Scripts
   =============================================== -->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/base.js' %}"></script>

    {% block scripts %}
    {% endblock %}

</body>
</html>
