{% extends 'users/base.html' %}
{% load static %}
{% block container %}
<style>.errorlist{color:red;}</style>
<section class="login">
  <div class="container">
    <div class="banner-content">
      <h1><i class="fas fa-graduation-cap"></i> Egresados</h1>
        {% if validlink %}
          <form action="" method="post" class="form-signin">{% csrf_token %}
            <h3 class="mb-4">Escriba la nueva contraseña</h3>
            <p class="text-white">Por favor, introduzca su contraseña nueva dos veces para verificar que la ha escrito correctamente.</p>
            {{form.new_password1.errors}}
            <p><input type="password" name="new_password1" required="" id="id_new_password1" class="form-control" placeholder="Introduce la nueva contraseña"></p>
            {{form.new_password2.errors}}
            <p><input type="password" name="new_password2" required="" id="id_new_password2" class="form-control" placeholder="Repite la nueva contraseña"></p>
            <p><input type="submit" class="kafe-btn kafe-btn-mint btn-block" value="Cambiar mi contraseña"></p>
            <a class="btn btn-dark " href="/users/password_reset/" role="button">Haga clic aquí para iniciar sesión.</a>
          </form>
        {% else %}
          <h3 class="mb-4">Restablecimiento de contraseñas fallido</h3>
          <p class="text-white">El enlace de restablecimiento de contraseña era inválido, seguramente porque se haya usado antes. Por favor, solicite un nuevo restablecimiento de contraseña <a href="{% url '/users/password_reset/' %}">aquí</a>.</p>
        {% endif %}
      </div>
    </div>
  </div>
 </section>

<section class="login">
  <div class="container">
    <div class="banner-content">
      <h1><i class="fas fa-graduation-cap"></i> Egresados</h1>
      <form method="POST" class="form-signin">
        {% csrf_token %}
        <h3 class="form-signin-heading">Iniciar Sesión</h3>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Usuario" name="username" />
        </div>
        <div class="form-group">
          <input class="form-control" type="password" placeholder="Contraseña" name="password"/>
        </div>
        <button class="kafe-btn kafe-btn-mint btn-block" type="submit">Iniciar sesión</button>
        <br>
        <a class="btn btn-dark " href="/users/signup/" role="button">¿Aún no tienes una cuenta? Registrarse aquí.</a>
        <a class="btn btn-dark " href="/users/password_reset/" role="button">¿Olvidaste tu contraseña?</a>
      </form>
    </div>
  </div>
 </section>

{% endblock %}