{% extends 'users/base.html' %}
{% load static %}
{% block container %}
<style>.errorlist{color:red;}</style>
<!--<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto mb-5">-->
<section class="login">
  <div class="container">
    <div class="banner-content">
      <h1><i class="fas fa-graduation-cap"></i> Egresados</h1>
        <form action="" method="post" class="form-signin">
          {% csrf_token %}
          <h3 class="form-signin-heading">Restablecer Contraseña</h3>
          <p class="text-white" align="justify">Introduzca su dirección de correo. A continuación y le enviaremos las instrucciones para establecer una nueva.</p>
          {{ form.email.errors }}
          <div class="form-group">
            <input type="email" name="email" maxlength="254" required="" id="id_email" class="form-control" placeholder="Introduce tu email"/>
          </div>
          <div class="form-group"><input type="submit" class="kafe-btn kafe-btn-mint btn-block" value="Confirmar"></div>
           <a class="btn btn-dark " href="/users/login/" role="button">Haga clic aquí para iniciar sesión.</a>
        </form>
      </div>
    </div>
  </div>
 </section>

{% endblock %}