{% extends "users/base.html" %}

{% block head_content %}
<title>Platzigram sign up</title>
{% endblock %}

{% block container %}
<style>label{display: none}</style>
<section class="login">
  <div class="container">
    <div class="banner-content">
      <h1><i class="fas fa-graduation-cap"></i> Egresados</h1>
      <form method="POST" id="signupform" class="form-signin">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="kafe-btn kafe-btn-mint btn-block" type="submit">Registrarme!</button>
        <a class="btn btn-dark " href="/users/login/" role="button">¿Ya tienes una cuenta? Haga clic aquí.</a>
        <a class="btn btn-dark " href="photo_register.html" role="button">¿Olvidaste tu contraseña?</a>
      </form>
    </div><!--/. banner-content -->
  </div><!-- /.container -->
</section>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $(document).ready(() => {
    var $inputs = $("#signupform input");
    $inputs.each(indexInput => {
      var $input = $($inputs[indexInput]);
      $input.addClass('form-control');
    })
  });
</script>

{% endblock %}
